html, body {
    font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
a:hover {
    color: white;
}

li {
  list-style: none;
}
.Mybg-light, .Mynavbar-light {
    background-color: rgb(121, 16, 69);
    box-shadow: 0px 7px 7px rgb(70, 14, 42);
}
.navbar {
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 10;
}
nav a {
    font-weight: bolder;
    color: white;
}
.nav-item, .dropdown {
    margin-right: 50px;
    color: none;
}
.fa-store {
    font-size: 30px;
    color: white;
    padding: 10px;
}

.paralax {
    background: url('./asset/img/searching.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
    top: 0px;
    padding-top: 200px;
}
.container-fluid {
    padding: 0px;
    margin: 0px;
}
.container-search {
    height: 50px;
    background-color: rgb(121, 16, 69);
    box-shadow: 10px 10px 20px rgb(70, 14, 42);
    border-radius: 50px;
    padding: 5px 5px;
    margin: 0 auto;
}

.divider {
    width: 100%;
    height: 20px;
    background-color: none;
    border: none;
    box-shadow: -10px -10px 10px rgb(121, 16, 69);
}
.form-control {
    border: none;
    border-radius: 30px;
}
.btn-primary {
    background-color: rgba(121, 16, 69, 0);
    border: none;
    margin: 0px;
    padding: 0px;
    
}
.btn-primary:hover {
    background-color: rgba(121, 16, 69, 0);
}
.btn-primary:active {
    background-color: rgba(121, 16, 69, 0);
}
.accordion {
    color: rgb(121, 16, 69);
}
.collapse {
    color: rgb(121, 16, 69);
}
.btn-link {
    color: rgb(121, 16, 69);
}
.card-body ul {
    cursor: pointer;
}
.jumbotron {
    text-align: center;
    background-color: rgb(70, 14, 42);
    margin-bottom: 0px;
    padding: 10px 50px;
    color: white;
}
.jumbotron h1, p {
    size: 16px;
    font-weight: bolder;
}
.divider-footer {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
}