@media all and (max-width: 1000px) {
	.contact-form {
		padding: 0px 20%;
	}

	.btn {
		width: 120px;
	}
}

@media all and (max-width: 750px) {
	.sub-heading {
		padding: 0 20px;
	}

	.contact-form {
		padding: 0px 10%;
	}

	.btn {
		width: 100px;
	}
}

@media all and (max-width: 500px) {
	.btn {
		margin-top: 20px;
	}
}
