* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Montserrat';
}

.contact {
	padding: 30px 40px 50px 40px;
}

.navbar {
	background-color: rgb(46, 43, 43);
}

.logo {
	text-transform: uppercase;
	letter-spacing: 2px;
	color: white;
	margin-top: 10px;
}

.nav-item {
	padding: 0 25px;
}

.nav-item a {
	color: white;
	letter-spacing: 3px;
	transition: all 0.5s;
}

.nav-item a:hover {
	color: rgba(163, 163, 163, 0.7);
}

.sub-heading {
	padding: 0 40px;
}

.sub-heading h2 {
	font-size: 30px;
	font-weight: normal;
	border-bottom: 1px solid #dee7ecc2;
	padding-bottom: 10px;
	margin-bottom: 50px;
}

.contact-form {
	padding: 0px 25%;
}

.form-group {
	padding: 5px 0px;
}

.form-group label {
}

.form-group input,
textarea {
	width: 100%;
	padding: 10px 20px;
	margin: 6px 0;
	border: 1px solid #c8ccce;
	border-radius: 5px;
	color: #4e4e4edc;
}

.form-group input:hover,
textarea:hover {
	border: 1px solid #81ecec;
}

.form-group input:focus,
textarea:focus {
	color: #929292;
}

.btn-submit {
	border-radius: 50px;
	border-style: solid;
	padding: 10px 20px;
	width: 150px;
	display: inline-block;
	opacity: 0.8;
	background-color: #00cec9;
	cursor: pointer;
	font-size: 15px;
	font-weight: normal;
	transition: all 0.5s;
	color: white;
	float: right;
}

.btn-submit:hover {
	background-color: #0984e3;
}
