body {
  background-color: rgba(165, 165, 253, 0.1);
}

div {
  display: block;
}

a {
  text-decoration: none;
}

h3 {
  color: rgba(250, 201, 3, 1);
}
.product-content {
  margin-top: 20px;
}
.product-section {
  background-color: rgba(165, 165, 253, 0.3);
}
.product {
  text-align: center;
  border: solid 1px #333333;
  background-color: rgba(122, 122, 122, 0.3);
  float: left;
  margin: 5px 10px;
  width: 23%;
  cursor: pointer;
}
.product-img {
  width: 180px;
    height: 180px;
    cursor: pointer;
    margin-top: 15px;
}
.title {
  font-weight: normal;
  font-size: 14px;
  margin: 5px;
  color: black;
  font-weight: bold;
}
.content-txt {
  display: inline-block;
  width: 90%;
  font-size: 10px;
  margin: 5px;
}
.price {
  font-weight: bold;
  font-size: 12px;
  margin-top: 10px;
}
.container {
  width: 100%;
  margin: 0 auto;
  
}
.heading{
  border-bottom: #cccccc solid 2px;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
.buy {
  border: solid 2px rgba(116, 101, 101, 0.7);
  background-color: rgba(236, 42, 42, 0.3);
  text-align: center;
  fill-opacity: initial;
  display: none;
}
.buy h3 {
  color: red;
}
header {
  height: 65px;
  width: 100%;
  background-color: rgb(83, 147, 243);
}
.header-right {
  float: right;
  transition: all 0.5s;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: rgba(250, 201, 3, 1);
  background-color: rgba(25, 25, 25, 0.3);
  display: block;
  float: left;
}

.header-right a:hover {
  color: white;
}

@media all and (max-width: 1000px){
  .product {
    width: 43%;
  }
  .content-txt {
    font-size: 9px;
  }
  .title {
    font-size: 13px;
  }
}

@media all and (max-width: 670px){
  .product {
    width: 100%;
  }
  .content-txt {
    font-size: 8px;
  }
  .title {
    font-size: 12px;
  }
}